{% extends 'layout.html' %} {% block content %}
<h1 class='mt-4 mb-4 border-bottom'>About</h1>
<h5 style="line-height:4rem">With the current fiasco of the dining services as well as an ongoing outcry of bad food,
 raw food, and sometimes expired products, we have identified a problem that needs to be
 addressed on campus. This website - UR Dine and Whine - was built for the CSC210 project as a solution to the current
 dining problems to allow students and faculty on the University of Rochester campus to review the food items on some of
 the UR Dining Halls. For more information and complaints reach out on (585)-275-6265 or <a
  href="mailto:rcdining@services.rochester.edu">email dining services.</a>
 If you are interested in contributing to this website email the creators: <a href="mailto:usiam@u.rochester.edu">Hungry
  Hippos</a>.
</h5>

{% endblock %}